# Переменные окружения и секреты
.env

# Виртуальное окружение
.venv/
env/
venv/

# База данных SQLite
*.db
*.sqlite
*.sqlite3
price_sniper.db

# Кэш Python
__pycache__/
*.py[cod]

# IDE & OS
.vscode/
.idea/
.DS_Store
